# Default ignored files
/shelf/
/workspace.xml
/dataSources/0b83198e-c404-4f1c-97c1-38df80a8de3c.xml
/dataSources.local.xml
/dataSources.xml
/dataSources/0b83198e-c404-4f1c-97c1-38df80a8de3c/storage_v2/_src_/schema/main.uQUzAA.meta
